@use '../abstract' as *;

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Slab:wght@100..900&family=Sixtyfour&display=swap');


@font-face {
    font-family: "montserrat-regular";
    src: url('../../fonts/Montserrat-Regular.woff2');
}

@font-face {
    font-family: "montserrat-bold";
    src: url('../../fonts/Montserrat-Bold.woff2');
}


html {
    font-size: 10px;
}

body {
    font-family: "Montserrat", arial, sans-serif;
    color: rgba($clr-light,0.7);
    background-color: $clr-primary;
    line-height: 1.6;
    font-size: 1.6rem;
   
}

body.open {
     overflow: hidden;
     height: 100vh;
}

a {
    text-decoration: none;
    color: $clr-light;
}

ul {
    list-style: none;
    color: $clr-light;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: bold;
    font-family: "montserrat-regular";
    text-wrap: balance;
    color: $clr-light;
}

h1 {
    font-size: clamp(3.5rem, 6vw , 5.5rem);
    margin-bottom: 2rem;
}

h2 {
    font-size: clamp(2.2rem, 6vw , 3rem);
    margin-bottom: 2rem;
}

h3 {
    font-size: clamp(2rem, 6vw , 2.5rem);
    margin-bottom: 1.6rem;
}

h4 {
    font-size: clamp(1.4rem, 6vw , 1.6rem);
    margin-bottom: 1.6rem;
}

p {
    font-size: clamp(1.4rem, 6vw , 1.6rem);
    margin-bottom: 1.3rem;
    text-wrap: balance;
    color: $clr-light;
}

.container {
    max-width: 98rem;
    padding: 0 1.6rem;
    margin: 0 auto;
}